name: CD

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set Deployment Repo Name
        id: set_repo
        run: echo "DEPLOY_REPO_NAME=ghcr.io/${{ github.repository_owner | lower }}/${{ github.event.repository.name }}:latest" >> $GITHUB_ENV

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo docker pull $DEPLOY_REPO_NAME
            
            sudo docker stop catty-container || true
            
            sudo docker rm catty-container || true
            
            sudo docker run -d --restart always -p 8181:8181 --name catty-container $DEPLOY_REPO_NAME