name: CD

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            IMAGE_NAME="ghcr.io/${{ lower(github.repository_owner) }}/${{ github.event.repository.name }}:latest"
            sudo docker pull "$IMAGE_NAME"
            sudo docker stop catty-container || true
            sudo docker rm catty-container || true
            sudo docker run -d --restart always -p 8181:8181 --name catty-container "$IMAGE_NAME"