name: CD

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}      # Берем из секретов
          port: ${{ secrets.PORT }}      # Берем из секретов
          username: ${{ secrets.USERNAME }} # Берем из секретов
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo docker pull ghcr.io/${{ github.repository }}:latest
            
            sudo docker stop catty-container || true
            
            sudo docker rm catty-container || true
            
            sudo docker run -d --restart always -p 8181:8181 --name catty-container ghcr.io/${{ github.repository }}:latest